<a href="https://colab.research.google.com/github/J-DR1/MastersThesis/blob/main/Explaining_anomaliesJudith_RuleFit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install git+git://github.com/christophM/rulefit.git

In [ ]:
#Basic Packages
import pandas as pd
import numpy as np

from rulefit import RuleFit
from sklearn.preprocessing import StandardScaler, RobustScaler

# Fraud dataset

In [ ]:
#Import Fraud data
fraud = pd.read_csv("creditcard.csv")
fraud.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

####Not standardized

In [ ]:
#Taking sample from fraud data set
fraud_sample = fraud.iloc[:20000]

In [ ]:
#Split data into X and Y
X = fraud_sample.drop('Class', axis =1)
y = fraud_sample['Class']

In [ ]:
#Transform to the right format
my_X = np.array(X)
my_y = np.array(y)

In [ ]:
#Get the column names
features = X.columns

In [ ]:
#Transform the column names to the right format
features = np.array(features)

In [ ]:
#Check
features

array(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9',
       'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18',
       'V19', 'V20', 'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27',
       'V28', 'Amount'], dtype=object)

In [ ]:
#RuleFit
rf = RuleFit()
rf.fit(my_X, my_y, feature_names=features)

In [ ]:
#Export rules
rules_fraud = rf.get_rules()

rules_fraud = rules_fraud[rules_fraud.coef != 0].sort_values("support", ascending=False)

rules.to_excel("output_fraud.xlsx")

### Standardized

In [ ]:
#Standardize the data
scaler = RobustScaler()
X = scaler.fit_transform(X)

In [ ]:
#Transform to the right format
my_X = np.array(X)

In [ ]:
#RuleFit
rf = RuleFit()
rf.fit(my_X, my_y, feature_names=features)

In [ ]:
#Get the output
rules_fraud_std = rf.get_rules()

rules_fraud_std = rules_fraud_std[rules_fraud_std.coef != 0].sort_values("support", ascending=False)

rules.to_excel("output_fraud_std.xlsx")

# KDDCup99 - HTTP dataset

In [ ]:
kdd = pd.read_csv("kdd_http_cleaned.csv")
kdd.head(5)

   duration  src_bytes  dst_bytes  hot  ...  x0_S1  x0_S2  x0_S3  x0_SF
0         0        181       5450    0  ...    0.0    0.0    0.0    1.0
1         0        239        486    0  ...    0.0    0.0    0.0    1.0
2         0        235       1337    0  ...    0.0    0.0    0.0    1.0
3         0        219       1337    0  ...    0.0    0.0    0.0    1.0
4         0        217       2032    0  ...    0.0    0.0    0.0    1.0

[5 rows x 37 columns]

In [ ]:
kdd['Attack Type'].value_counts()

normal    61886
dos        2395
probe         8
r2l           4
Name: Attack Type, dtype: int64

In [ ]:
#Encode Attack Type
kdd['Attack Type'] = kdd['Attack Type'].replace({'normal': 0, 'dos': 1, 'probe': 1, 'r2l':1})

In [ ]:
#Split data into X and y
X = kdd.drop('Attack Type', axis= 1)
y = kdd['Attack Type']

### Not standardized

In [ ]:
#Transform to the right format
my_X = np.array(X)
my_y = np.array(y)

In [ ]:
#Get the column names
features = X.columns

In [ ]:
#Transform the column names to the right format
features = np.array(features)

In [ ]:
#Check
features

array(['duration', 'src_bytes', 'dst_bytes', 'hot', 'logged_in',
       'num_compromised', 'root_shell', 'num_root', 'num_access_files',
       'count', 'srv_count', 'serror_rate', 'srv_serror_rate',
       'rerror_rate', 'srv_rerror_rate', 'same_srv_rate', 'diff_srv_rate',
       'srv_diff_host_rate', 'dst_host_count', 'dst_host_srv_count',
       'dst_host_same_srv_rate', 'dst_host_diff_srv_rate',
       'dst_host_same_src_port_rate', 'dst_host_srv_diff_host_rate',
       'dst_host_serror_rate', 'dst_host_srv_serror_rate',
       'dst_host_rerror_rate', 'dst_host_srv_rerror_rate', 'x0_REJ',
       'x0_RSTO', 'x0_RSTR', 'x0_S0', 'x0_S1', 'x0_S2', 'x0_S3', 'x0_SF'],
      dtype=object)

In [ ]:
#RuleFit
rf = RuleFit()
rf.fit(my_X, my_y, feature_names=features)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 0.8613171155745682, tolerance: 0.23168867839422083
  positive)

RuleFit(Cs=None, cv=3, exp_rand_tree_size=True, lin_standardise=True,
        lin_trim_quantile=0.025, max_iter=1000, max_rules=2000, memory_par=0.01,
        model_type='rl', n_jobs=None, random_state=None, rfmode='regress',
        sample_fract='default', tol=0.0001,
        tree_generator=GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0,
                                                 criterion='friedman_mse',
                                                 init=None, learning_rate=0.01,
                                                 loss='ls', max_depth=100,
                                                 max_features=None,
                                                 max_leaf_nodes=3,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=560,
                                                 n_iter_no_change=None,
                                                 presort='deprecated',
                                                 random_state=559,
                                                 subsample=0.025218357547523912,
                                                 tol=0.0001,
                                                 validation_fraction=0.1,
                                                 verbose=0, warm_start=False),
        tree_size=4)

In [ ]:
#Get the rules
rules_kdd = rf.get_rules()

rules_kdd = rules_kdd[rules_kdd.coef != 0].sort_values("support", ascending=False)

rules_kdd.to_excel("output_kdd.xlsx")

### Standardized

In [ ]:
#Stardardize 
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

In [ ]:
#Transform to the right format
my_X_std = np.array(X_std)

In [ ]:
#RuleFit
rf = RuleFit()
rf.fit(my_X_std, my_y, feature_names=features)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1.028276725514532, tolerance: 0.23168867839422083
  positive)

RuleFit(Cs=None, cv=3, exp_rand_tree_size=True, lin_standardise=True,
        lin_trim_quantile=0.025, max_iter=1000, max_rules=2000, memory_par=0.01,
        model_type='rl', n_jobs=None, random_state=None, rfmode='regress',
        sample_fract='default', tol=0.0001,
        tree_generator=GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0,
                                                 criterion='friedman_mse',
                                                 init=None, learning_rate=0.01,
                                                 loss='ls', max_depth=100,
                                                 max_features=None,
                                                 max_leaf_nodes=4,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=574,
                                                 n_iter_no_change=None,
                                                 presort='deprecated',
                                                 random_state=573,
                                                 subsample=0.025218357547523912,
                                                 tol=0.0001,
                                                 validation_fraction=0.1,
                                                 verbose=0, warm_start=False),
        tree_size=4)

In [ ]:
#Get the rules
rules_kdd = rf.get_rules()

rules_kdd = rules_kdd[rules_kdd.coef != 0].sort_values("support", ascending=False)

rules_kdd.to_excel("output_kdd_std.xlsx")